@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Source+Sans+Pro&display=swap');

body{
  font-family: 'Noto Serif', serif;
  font-family: 'Source Sans Pro', sans-serif;
}

h2{
  padding-top: 50px;
}


.backgroundHome{
  background-image: url("../assets/images/ml-background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100px;  
  width: 100%;
  height: 20vh;
}

